<%- include('headfoot/header', { title: 'Home' }) %>

<h1>Welcome to the Hotel Management System</h1>

<ul>
  <li><a class="link-pop" href="/users">View Users</a></li>
  <li><a class="link-pop" href="/rooms">View Rooms</a></li>
  <li><a class="link-pop" href="/bookings">View Bookings</a></li>
</ul>

<%- include('headfoot/footer') %>
